body {
	margin: 0 0;
}

.container.quiz-container {
	margin-top: 10px;
	padding-left: 0px;
	padding-right: 0px;
}

.navigationButton.btn {
	min-width: 80px;
	margin:10px;
	border-radius:6px;
}

.prevButton {
	float: left;
	border-radius:6px;
}

.nextButton {
	float: right;
	border-radius:6px;
}

.questionText,.authenticationText,.welcomeText {
	margin-bottom: 30px;
	/*font-size: 1.5em;*/
}

.questionHolder + .navigator, .questionHolder {
	margin: auto;	
}

.displayBlock {
	display: block;
	margin: 15px;
}

.scoreTextBox {
	width: 50px;
}

.feedbackQuestion{
	border: solid 1px black;
	padding:15px;
	margin:15px;		
}

.feedbackText{
	padding:10px;
}
/*
.wrongAnswer{
	content:url(incorrect.png);	
}*/

.wrongAnswer{
	background-color: red;
}

.wrongAnswer:after {
    content: "InCorrect";
}
/*
.correctAnswer{
	content:url(correct.png);
}*/

.correctAnswer{
	background-color: green;
}

.correctAnswer:after {
    content: "Correct";
}

.correctMATAnswer{
	padding:5px;
	border:1px solid green;
	border-radius:6px;
}

.optionTitleMAT{
	width:200px;
	padding-bottom:10px;
	display:inline-block;	
}

.feedbackTitle{
	/*font-size: 1.5em;*/
}

/*
.unAnsweredCorrect{
	content:url(correctNotAnswered.png);
}*/

.unAnsweredCorrect{
	background-color: blue;
    color:white ;
}

.unAnsweredCorrect:after {
    content: "unAnsweredCorrect";
}

#authenticationAlert{
	width: 70%;
	display: none;
}

.wrongAnsfimbFeedback{
	border: 2px solid red;
}

.correctAnsfimbFeedback{
	border: 2px solid green;
}

input.placeholder {
    text-align: center;
}

#webContentComplete,#webLinkComplete{
	margin-top:20px;
}

/*modifying bootstrap popover css as required*/
.quizFeedback{
	display: inline-block !important;
	position: relative !important;
	width: auto !important;
	max-width: 90% !important;
}

.arrow.arrowLeft{
	left:10% !important;
}

.MCQ3 { background-image: url('/media/images/choice2.jpg'); height: 100px; width: 170px }
/* updates*/
.pagination-container{
	color: #333;
	background-color: #f5f5f5;
	border-top: #ddd 1px solid;
	border-bottom:#ddd 1px solid;
	padding:0 2rem;
}
.pagination-container .navigation-lm{ 
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
	width:225px;
	text-align:center;
}
.pagination-container .submit-lm{
	border-left:1px solid #ddd;
	width:110px;
	text-align:center;
}
.pagination-container .description-lm{
	width:800px;
}
.pagination-container button{
	line-height: 15px;
	padding: 2px 5px;
	}
.position-lm{
	font-size: 13px;
	width: 60px;
	text-align: center;
}
.iframe-container{
	padding:0 !important;
}
.row-lm{
	display:table;	
	border-collapse: separate;
    border-spacing: 1px 0;
	
}
.row-lm .description-lm, .row-lm .navigation-lm, .row-lm .submit-lm{
	display:table-cell;
	padding:7px;
	vertical-align:middle;
}
@media (max-width: 500px){
	.row-lm{
		display:block
		}
	.pagination-container .description-lm{
		width:100%;
		display:block
	}
	
	.pagination-container .navigation-lm{
		width:100%;
		display:block;
		border: none;
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		margin-bottom:1px;
	}
	.pagination-container .submit-lm{
		width:100%;
		display:block;
		border: none;
		border-top: 1px solid #ddd;

	}
	.pagination-container{
	
	padding:0 1rem;
}
}
@media (min-width: 35em){
	.pagination-container .description-lm{
	width:385px;
}
}
@media (min-width: 50em){
	.pagination-container .description-lm{
	width:600px;
}
}
@media (min-width: 80em){
	.pagination-container .description-lm{
	width:800px;
}
}

.score-box{
	border-radius:6px;
	border:1px solid #ddd;
	padding:10px;
	margin-bottom:10px
}

