body {
	margin: 0 0;
}

.container.quiz-container {
	margin-top: 10px;
	padding-left: 0px;
	padding-right: 0px;
}

.navigationButton {
	min-width: 80px;
}

.prevButton {
	float: left;
}

.nextButton {
	float: right;
}

.questionHolder + .navigator, .questionHolder {
	margin: auto;
	max-width: 500px;
	min-width: 300px;
}


.MCQ3 { background-image: url('/media/images/choice2.jpg'); height: 100px; width: 170px }
