<div class="questionHolder">
    <div class="questionText" data-ng-if="config['LearningObject'][pageInProgress]['Title']" compilemeagain></div>

    <div class="optionsHolder">
		<form>
            <fieldset data-role="controlgroup">
				<div data-ng-repeat="option in config['LearningObject'][pageInProgress]['Options']">
					<span data-ng-if="isFeedbackScreen">
						<span data-ng-if="option.isUserAnswer && !option.IsCorrect">{{setInCorrectFeedback(pageInProgress)}}<span class="wrongAnswer"></span></span>
						<span data-ng-if="option.IsCorrect && !option.isUserAnswer">{{setInCorrectFeedback(pageInProgress)}}<span class="unAnsweredCorrect"></span></span>
						<span data-ng-if="option.IsCorrect && option.isUserAnswer"><span class="correctAnswer"></span></span>
					</span>
					<label data-ng-click="disableInputs || ansSelect(option.Id, '1')"> <input type="radio" name="userAnswer" data-ng-checked="option.isUserAnswer" data-ng-disabled="disableInputs">&nbsp;&nbsp;<span data-ng-bind-html="getTrustedHtml(option.Title)"></span></label>
				</div>
			</fieldset>
		</form>
    </div>
</div>
