@model LearningMate.Projects.EOL.LTIFramework.Lti1.LtiRequest

@{
    ViewBag.Title = "Play";
}

<div class="container quiz-container panel panel-primary" data-ng-app='ngQuizApp' data-ng-controller='ngQuizController'>

    <div class="panel-heading"></div>
    <div class='panel-body' data-ng-include src="getURL(config.ResourceType, config['LearningObject'][pageInProgress]['QuestionTypeID'])"></div>
    <div><input type="hidden" data-ng-init="getAllQuestions(@Request.Form["custom_learning_activity_id"])" /></div>
    <div class="navigator">
        <div class="prevButton navigationButton btn btn-primary" data-ng-click="prevPage()" data-ng-show="config['LearningObject'][pageInProgress-1]">prev</div>
        <div class="nextButton navigationButton btn btn-primary" data-ng-click="submit()">submit</div>
        <div class="nextButton navigationButton btn btn-primary" data-ng-click="nextPage()" data-ng-show="config['LearningObject'][pageInProgress+1]">next</div>
    </div>
   
</div>


@*<div id="bodyContainer" ng-app="QuizApp">
        <section id="content">

            <div class="container">
                <div class="row">
                    <div class="flip-container text-center col-md-12" ng-controller="QuizCtrl" ng-init="getAllQuestions()">
                        <div style="width:150px;height:50px;margin-top:-28px;float:right;">
                            <div id="timer" style="float:right;font-size:20px;font-weight:bold;color:green;"></div>
                        </div>

                            <div class="front" ng-class="{flip: answered}">

                                @*<div ng-bind-html-unsafe="questionList[quesIndex].Title"></div>

                                <p class="lead"><b> {{quesIndex+1}}. {{questionList[quesIndex].Title}}</b></p>

                                <div class="radio-inline">

                                    <label data-ng-repeat="option in questionList[quesIndex].Options" class="" style="padding:5px;color:#222;font-family:corbel,sans-serif;font-size: 14px;margin: 10px;vertical-align:top;">
                                        <input type="radio" name="response" ng-value="true" ng-click="setChoiceForQuestion(questionList[quesIndex], option)" data-ng-model="option.isUserAnswer" />
                                        {{option.Title}}
                                    </label>
                                </div>

                                <br />
                                <br />
                                <button class="btn btn-info btn-lg next option" ng-click="previousQuestion()"  ng-hide="hide_Previous">PREVIOUS</button>
                                <button class="btn btn-info btn-lg next option" ng-click="nextQuestion()"  ng-hide="show">NEXT</button>


                                <div style="font-size:x-large;" ng-hide="hide">
                                    Test Completed !
                                </div>
                            </div>
    </div>
            </div>
                </div>
        </section>
    </div>*@
<div class="container" style="text-align:-moz-center">

    <div id="wrap" style="width:50%;margin-top:2%;">
        <table border="1" class="table">
            <caption><h3>LTI Parameter</h3></caption>
            <thead style="background-color: Scrollbar;">
                <tr>
                    <th align="left">
                        <b>Name</b>
                    </th>
                    <th align="left">
                        <b> values</b>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th align="left">
                        Context Id
                    </th>
                    <th align="left">
                        @Model.ContextId
                    </th>
                </tr>
                <tr>
                    <th align="left">
                        Context Label
                    </th>
                    <th align="left">
                        @Model.ContextLabel
                    </th>
                </tr>
                <tr>
                    <th align="left">
                        Context Title
                    </th>
                    <th align="left">
                        @Model.ContextTitle
                    </th>
                </tr>
                <tr>
                    <th align="left">
                        Resource Link Id
                    </th>
                    <th align="left">
                        @Model.ResourceLinkId
                    </th>
                </tr>
                <tr>
                    <th align="left">
                        Resource Link Label
                    </th>
                    <th align="left">
                        @Model.ResourceLinkTitle
                    </th>
                </tr>
                <tr>
                    <th align="left">
                        Resource Link Description
                    </th>
                    <th align="left">
                        @Model.ResourceLinkDescription
                    </th>

                </tr>

                <tr>
                    <th align="left">
                        User Id
                    </th>
                    <th align="left">
                        @Model.UserId
                    </th>
                </tr>
                <tr>
                    <th align="left">
                        User Role
                    </th>
                    <th align="left">
                        @Model.Roles
                    </th>
                </tr>
                <tr>
                    <th align="left">
                        Lis PersonName Full
                    </th>
                    <th align="left">
                        @Model.LisPersonNameFull
                    </th>
                </tr>
                <tr>
                    <th align="left">
                        Lis PersonName Family
                    </th>
                    <th align="left">
                        @Model.LisPersonNameFamily
                    </th>
                </tr>
                <tr>
                    <th align="left">
                        Lis PersonName Given
                    </th>
                    <th align="left">
                        @Model.LisPersonNameGiven
                    </th>
                </tr>
                <tr>
                    <th align="left">
                        Lis PersonEmail Primary
                    </th>
                    <th align="left">
                        @Model.LisPersonEmailPrimary
                    </th>
                </tr>
                <tr>
                    <th align="left">
                        Lis PersonName Full
                    </th>
                    <th align="left">
                        @Model.LisPersonNameFull
                    </th>
                </tr>
                <tr>
                    <th align="left">
                        Tool Consumer Info Product FamilyCode
                    </th>
                    <th align="left">
                        @Model.ToolConsumerInfoProductFamilyCode
                    </th>

                </tr>



                <tr>
                    <th align="left">
                        Tool Consumer Info Version
                    </th>
                    <th align="left">
                        @Model.ToolConsumerInfoVersion
                    </th>

                </tr>
                <tr>
                    <th align="left">
                        Tool Consumer Instance Guid
                    </th>
                    <th align="left">
                        @Model.ToolConsumerInstanceGuid
                    </th>

                </tr>
                <tr>
                    <th align="left">
                        Launch Presentation Locale
                    </th>
                    <th align="left">
                        @Model.LaunchPresentationLocale
                    </th>

                <tr>
                    <th align="left">
                        Launch Presentation Width
                    </th>
                    <th align="left">
                        @Model.LaunchPresentationWidth
                    </th>

                </tr>
                <tr>
                    <th align="left">
                        Launch Presentation Height
                    </th>
                    <th align="left">
                        @Model.LaunchPresentationHeight
                    </th>

                </tr>
                <tr>
                    <th align="left">
                        Launch Presentation CssUrl
                    </th>
                    <th align="left">
                        @Model.LaunchPresentationCssUrl
                    </th>

                </tr>
                @foreach (var customparam in @Model.Parameters.AllKeys)
                {
                    if (customparam.StartsWith("custom_"))
                    {
                        <tr>
                            <th align="left">
                                @customparam;
                            </th>
                            <th align="left">
                                @Model.Parameters[@customparam];
                            </th>

                        </tr>
                    }
                }
            </tbody>
        </table>

    </div>
</div>


