<div class="questionHolder">
		<div class="questionText" data-ng-if="config['questionList'][questionInProgress]['Qtext']" data-ng-bind-html="trustedHtmlQText"></div>
		
		<div class="optionsHolder"> 
			<div data-ng-switch on="config['questionList'][questionInProgress]['responseEntered'][option]" data-ng-repeat=" option in config['questionList'][questionInProgress]['options']"> 
				<label data-ng-switch-when="true" data-ng-click="ansSelect(option)"> <input type="checkbox" name="userAnswer" checked="checked"><div data-ng-bind-html="getTrustedHtml(option)"></div></label>
				<label data-ng-switch-default data-ng-click="ansSelect(option)"> <input type="checkbox" name="userAnswer"><div data-ng-bind-html="getTrustedHtml(option)"></div></label> 
			</div>
		</div>
</div>
