<div class="questionHolder">
		<div class="questionText" data-ng-if="config['questionList'][questionInProgress]['Qtext']" data-ng-bind-html="trustedHtmlQText"></div>
				
		<div class="optionsHolder"> 
		<div data-ng-repeat=" option in config['questionList'][questionInProgress]['options']"> 
			<label data-ng-click="ansSelect(option, true)"> <input type="radio" name="userAnswer" data-ng-checked="config['questionList'][questionInProgress]['responseEntered'][option]"> {{ option }} </label>
		</div>
	</div>
</div>