<div class="questionHolder">
		<div class="questionText" data-ng-if="config['questionList'][questionInProgress]['text']">{{ config['questionList'][questionInProgress]['text'] }}</div>
				
		<div class="optionsHolder" data-ng-repeat=" option in  config['questionList'][questionInProgress]['options']"> 
		<div data-ng-switch on="config['questionList'][questionInProgress]['selectedOption'][option.id]"> 
			<label data-ng-switch-when="true" data-ng-click="ansSelect(option.id)"> <input type="checkbox" name="userAnswer" option-id="{{option.id}}" checked="checked"> {{ option.text }} </label>
			<label data-ng-switch-default data-ng-click="ansSelect(option.id)"> <input type="checkbox" name="userAnswer" option-id="{{option.id}}"> {{ option.text }} </label> 
		</div>
	</div>
</div>