@{
    Layout = null;
}

<div class="questionHolder">
    <div class="questionText" data-ng-if="config['LearningObject'][pageInProgress]['Title']" data-ng-bind-html="trustedHtmlQText"></div>

    <form id="upload" method="POST" enctype="multipart/form-data" data-ng-submit="validateUpload($scope)">
        <div>
            <label for="fileselect">Files to upload:</label>
            <input type="file" id="fileselect" fileread="uploadForm.ext" data-ng-disabled="disableInputs" />
        </div>

        <div id="submitbutton">
            <button type="submit" data-ng-disabled="disableInputs">Upload Files</button>
        </div>
    </form>
</div>